body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: hsl(0, 0%, 95%);
  margin: 0;
}

#calculator {
  font-family: Arial, sans-serif;
  background-color: hsl(0, 0%, 10%);
  border-radius: 15px;
  max-width: 500px;
  overflow: hidden;
}

#display {
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: hsl(0, 0%, 20%);
  color: white;
  font-size: 5rem;
  border: none;
  padding: 20px;
  text-align: right;
}

#key {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 25px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  border: none;

  background-color: hsl(0, 0%, 20%);
  color: white;

  font-size: 3rem;

  font-weight: bold;

  /* LỆCH DẤU * */
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;

  cursor: pointer;
}

button:hover {
  background-color: hsl(0, 0%, 40%);
}

button:active {
  background-color: hsl(0, 0%, 17%);
}

.operator-btn1 {
  background-color: hsl(0, 0%, 40%);
}
button.operator-btn1:hover {
  background-color: hsl(0, 0%, 65%);
}
button.operator-btn1:active {
  background-color: hsl(0, 0%, 45%);
}
.operator-btn2 {
  background-color: hsl(35, 100%, 55%);
}
button.operator-btn2:hover {
  background-color: hsl(35, 100%, 65%);
}
button.operator-btn2:active {
  background-color: hsl(35, 100%, 75%);
}

.multiply {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 1;
}
.divide {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 1;
}
.plus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 1;
}
.minus {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.5rem;
  line-height: 1;
}
